
<!-- *****************************************************************************************************************
PORTFOLIO SECTION
***************************************************************************************************************** -->
<div id="portfoliowrap">
		 <div class="portfolio-centered">
				 <div class="recentitems portfolio">
					 <div class="container">
					 <% @offers.each_slice(4) do |offers| %>
					 <div class="row">
						 <% offers.each do |offer| %>
						 <div class="col-md-3">
		 <div class="portfolio-item">
			 <div class="he-wrap tpl6">
			 <a href="#modal-<%=offer.id %>" rel="modal:open" ><img src="<%= offer.image_url %>" alt="" style="width: 271px; height: 203px;"> </a>
			 </div><!-- he wrap -->
		 </div><!-- end col-12 -->
		 <div id="modal-<%=offer.id %>" class="modal">
			 <%= partial :offer, locals: { offer: offer }%>
		 </div>
	 </div>
		 <% end %>
	 </div>

		 <% end %>
	 </div>

				 </div><!-- portfolio -->
		 </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
