
<!-- *****************************************************************************************************************
PORTFOLIO SECTION
***************************************************************************************************************** -->
<div id="portfoliowrap">
		 <div class="portfolio-centered">
				 <div class="recentitems portfolio">
					 <% @offers.each do |offer| %>
		 <div class="portfolio-item">
			 <div class="he-wrap tpl6">
			 <a href="#" data-reveal-id="modal-<%=offer.id %>"><img src="<%= offer.image_url %>" alt="" style="width: 271px; height: 203px;"> </a>
			 </div><!-- he wrap -->
		 </div><!-- end col-12 -->
		 <div id="modal-<%=offer.id %>" class="reveal-modal large">
			 EHLO
			 <a class="close-reveal-modal">&#215;</a>
		 </div>
		 <% end %>
				 </div><!-- portfolio -->
		 </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
