
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.ico">

    <title>Everything under ₱100 - SIYENTO amazing deals in the Philippines</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.modal.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/siyentotitle.png" width="160"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
<!--             <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li> -->
            <li><a href="#"><i class="fa fa-cogs fa-2x"></i></a></li>
<!--             <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs fa-2x"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">THAILAND</a></li>
                <li><a href="#">HONG KONG</a></li> -->
<!--                 <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2 centered">
         <h2>Amazing deals in the Philippines for ₱100!</h2>
         <br>
         <div class="hline"></div>
       </div>
     </div>
   </div>

     <!-- *****************************************************************************************************************
   Header Ad
   ***************************************************************************************************************** -->
  <div align="center">
 <script type="text/javascript"> 
clicksor_adhere_opt='left'; 

clicksor_default_url = '';
clicksor_banner_border = '#99CC33'; 
clicksor_banner_ad_bg = '#FFFFFF';
clicksor_banner_link_color = '#000000'; 
clicksor_banner_text_color = '#666666';
clicksor_layer_border_color = '';
clicksor_layer_ad_bg = ''; 
clicksor_layer_ad_link_color = '';
clicksor_layer_ad_text_color = ''; 
clicksor_text_link_bg = '';
clicksor_text_link_color = ''; 
clicksor_enable_text_link = false;
     
clicksor_banner_text_banner = true;
clicksor_banner_image_banner = true; 
clicksor_enable_layer_pop = false;
clicksor_enable_pop = true;
</script>
 <script type="text/javascript" src="http://b.yu0123456.com/show.php?nid=1&amp;pid=358604&amp;adtype=1&amp;sid=604681"></script>
  </div><!-- /headerad -->

 <%= yield %>

    <!-- *****************************************************************************************************************
     FOOTER AD
     ***************************************************************************************************************** -->
    <div align="center">
<script type="text/javascript"> 
clicksor_adhere_opt='left'; 

clicksor_default_url = '';
clicksor_banner_border = '#99CC33'; 
clicksor_banner_ad_bg = '#FFFFFF';
clicksor_banner_link_color = '#000000'; 
clicksor_banner_text_color = '#666666';
clicksor_layer_border_color = '';
clicksor_layer_ad_bg = ''; 
clicksor_layer_ad_link_color = '';
clicksor_layer_ad_text_color = ''; 
clicksor_text_link_bg = '';
clicksor_text_link_color = ''; 
clicksor_enable_text_link = false;
     
clicksor_banner_text_banner = true;
clicksor_banner_image_banner = true; 
clicksor_enable_layer_pop = false;
clicksor_enable_pop = true;
</script>
 <script type="text/javascript" src="http://b.yu0123456.com/show.php?nid=1&amp;pid=358604&amp;adtype=1&amp;sid=604681"></script>
 <script type="text/javascript"> 
clicksor_enable_adhere = false; 

clicksor_default_url = '';
clicksor_banner_border = '#99CC33'; 
clicksor_banner_ad_bg = '#FFFFFF';
clicksor_banner_link_color = '#000000'; 
clicksor_banner_text_color = '#666666';
clicksor_layer_border_color = '';
clicksor_layer_ad_bg = ''; 
clicksor_layer_ad_link_color = '';
clicksor_layer_ad_text_color = ''; 
clicksor_text_link_bg = '';
clicksor_text_link_color = ''; 
clicksor_enable_text_link = false;
     
clicksor_banner_text_banner = true;
clicksor_banner_image_banner = true; 
clicksor_enable_layer_pop = false;
clicksor_enable_pop = true;
</script>
 <script type="text/javascript" src="http://b.yu0123456.com/show.php?nid=1&amp;pid=358604&amp;adtype=&amp;sid=604681"></script>
    </div><br><!-- /footerad -->

  <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
     <div class="container">
       <div class="row">
         <div class="col-lg-4">
           <h4>About</h4>
           <div class="hline-w"></div>
           <p>Siyento brings you amazing offers and deals in the Philippines from Metrodeal, Cashcashpinoy, Ensogo, Tcat, Trendsndeals, Dealgrocer, Pinoygreatdeals & Dealspot.</p>
         </div>
         <div class="col-lg-4">
           <h4>Social</h4>
           <div class="hline-w"></div>
           <p>
             <a href="https://www.facebook.com/siyentoapp"><i class="fa fa-facebook"></i></a>
             <a href="twitter.com/siyentoapp"><i class="fa fa-twitter"></i></a>
             <a href="#"><i class="fa fa-instagram"></i></a>
             <a href="https://pinterest.com/siyento/"><i class="fa fa-pinterest"></i></a>

           </p>
         </div>
         <div class="col-lg-4">
           <h4>Our Newsletter</h4>
           <div class="hline-w"></div>
           <p>
<form class="form" action="/signup" method="post">
              <div class="input-group text-center">
              <input class="form-control" id="focusedInput" type="text" name="email" value="Enter your Email...">
                <span class="input-group-btn"><button type="submit" class="btn btn-primary">Submit</button></span>
              </div>
            </form>
           </p>
         </div>

       </div><! --/row -->
     </div><! --/container -->
   </div><! --/footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/retina-1.1.0.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/custom.js"></script>

  <div class="modal range-slider">
    <div id="amount">LESS THAN ₱<span>100</span></div>
    <div id="range-slider"></div>
    <div class="btn btn-block btn-success" id="apply-filter">APPLY</div>
  </div>
  </body>
</html>
